VITE_SUPABASE_URL=https://drtvxdajizntwkzvxhgz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRydHZ4ZGFqaXpudHdrenZ4aGd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyODM0NDksImV4cCI6MjA5MDg1OTQ0OX0.-4NCZQM5hc20U4JJu3ODiZP3eFU-Sf2IA2KnwM2niOE
