-- Fix unique index - only for pending holds, not confirmed ones
DROP INDEX IF EXISTS uq_giu_cho_tam_active_bed;
DROP INDEX IF EXISTS uq_giu_cho_tam_active_room;

-- Only prevent multiple pending holds on same bed/room
CREATE UNIQUE INDEX uq_giu_cho_tam_active_bed
  ON public.giu_cho_tam(ma_giuong)
  WHERE trang_thai = 'DANG_GIU';

CREATE UNIQUE INDEX uq_giu_cho_tam_active_room
  ON public.giu_cho_tam(ma_phong)
  WHERE loai_muc_tieu = 'PHONG'
    AND trang_thai = 'DANG_GIU';
-- Clean up expired confirmed holds
UPDATE public.giu_cho_tam
SET trang_thai = 'HET_HAN',
    updated_at = NOW()
WHERE trang_thai = 'DA_XAC_NHAN_COC'
  AND thoi_gian_het_han < NOW();
